<form class="form-inline" action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <!--{{ form }}-->

    <div class="form-group">
        {{ form.verb }}
    </div>
    <div class="form-group">
        {{ form.adverb }}
    </div>
    <div class="form-group">
        {{ form.adjective}}
    </div>
    <div class="form-group">
        {{ form.noun }}
    </div>

    <button type="submit" class="btn btn-success">
        Add <span class="glyphicon glyphicon-download"></span>
    </button>
</form>