{% extends 'base.html' %}

{% block title %}Annanas dictionary{% endblock %}

{% block content %}
    {% if saved %}
        <div class="alert alert-success" role="alert">Word saved</div>
    {% endif %}

    {% if deleted %}
        <div class="alert alert-warning" role="alert">Word deleted</div>
    {% endif %}

    {% include 'table.html' %}
{% endblock %}