<form action="{% url 'index' %}" method="post">
{% csrf_token %}

<table class="table table-hover">
        <tr>
            <th class="word-cell">Verb</th>
            <th class="word-cell">Adverb</th>
            <th class="word-cell">Adjective</th>
            <th class="word-cell" colspan="2">Noun</th>
        </tr>
        <tr>
            <td>
                    {{ form.verb }}
            </td>
            <td>
                    {{ form.adverb }}
            </td>
            <td>
                    {{ form.adjective }}
            </td>
            <td>
                    {{ form.noun }}
            </td>
            <td class="button-cell">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-save"></span>
                </button>
            </td>
        </tr>
    {% for word in word_list %}
        <tr>
            <td class="word-cell">{{ word.verb }}</td>
            <td class="word-cell">{{ word.adverb }}</td>
            <td class="word-cell">{{ word.adjective }}</td>
            <td class="word-cell">{{ word.noun }}</td>
            <td class="button-cell">
                <a class="btn btn-danger btn-xs" href="{% url 'delete_word' word.id %}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>

            </td>
        </tr>
    {% endfor %}
</table>
</form>